<h1>Login</h1>

<div class="container mt-5">
    <div class="alert alert-warning" *ngIf="invalidLogin">{{errorMessage}}</div>

    <form (ngSubmit)="!todoForm.invalid && handleJWTAuthLogin()" #todoForm="ngForm">
        <div class="container">
            <div class="mt-4">
                <p>User Name:</p> <input type="text" name="username" [(ngModel)]="username" >
                <p class="mt-4">Password:</p> <input type="password" name="password" [(ngModel)]="password"> 
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
    <div style="margin-left: 2vh;" class="mt-5">
        <p>Don't have an account?</p>
        <button (click)="register()" class="btn btn-primary">Register</button>
    </div>
</div>